@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap'); /*font-family: 'Mochiy Pop One', sans-serif;*/

html {
    scroll-behavior: smooth;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 1px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

img {
    width: 100%;
}

:root {
    --corPrincipal-- :#4787af;
    --maisEscuro-- : #2b78a8;
    --maisForte-- : #165074;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.header-principal {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 8px;
    background-color: #4787af;
    align-items: center;
}

.header-principal li {
    margin-top: 8px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}


.header-principal p {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
    margin-top: 8px;
    float: right;
    color: white;
}

.header-principal p:hover {
    font-size: 1.1em;
}

.header-principal a {
    color: white;
}

.logo {
    color: white;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu {
    display: flex;
}

.menu a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 1.2em;
    margin-right: 15px;
}

.menu a:hover {
    opacity: 0.8;
    font-size: 1.3em;
}

.info-1 {
    display: block;
    background-image: url(../img/gelo.jpg);
    height: 400px;
    margin-top: 20px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    max-width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: 20px auto;
}

.info-1 p {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
    color: white;
    background-color: var(--corPrincipal--);
}

.box {
    padding-top: 200px;
}

.agendar {
    font-weight: bolder;
    color: white;
    font-size: 15px;
}

.agendar:hover {
    font-size: 20px;
}

.main-principal {
    max-width: 1200px;
    margin: 0 auto;
}

.title h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title p {
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}

.servicos {
    display: flex;
    flex-wrap: wrap;
}

.servicos p {
    max-width: 250px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}

.servicos img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.685);
    max-width: 250px;
    border-radius: 5px;
}

.flex {
    margin: 15px auto;
    padding: 10px;
    width: 250px;
}

.servicos-prestado {
    margin-top: 20px;
    text-align: center;
}

.servicos-prestado h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.9em;
    margin-bottom: 50px;
}

.servicos-prestado a {
    border-radius: 10px;
    padding: 10px 30px;
    background-color: var(--corPrincipal--);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.servicos-prestado a:hover {
    background-color: var(--maisEscuro--);
    color: black;
    padding: 10px 35px;
}

.marcas-h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 2.2em;
}

.marcas {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.marcas div {
    width: 300px;
    margin: 0 auto;
}

.marcas img {
    flex: 1 1 280px;
}

.manutencao-limpeza {
    display: flex;
    padding: 20px;
    background-color: var(--corPrincipal--);
}

.limpeza, .instalacao {
    padding: 5px;
}

.manutencao-limpeza img {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.manutencao-limpeza h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.manutencao-limpeza p {
    color: white;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.solicitar li {
    text-align: center;
    border-radius: 10px;
}

.solicitar a {
    font-size: bolder;
    font-weight: bolder;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--maisForte--);
}

.solicitar a:hover {
    font-size: 1.1em;
    opacity: 0.8;
}

.assistencia {
    background-color: var(--corPrincipal--);
}

.assistencia img {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.container-form {
    background: var(--corPrincipal--);
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    padding-bottom: 30px;
}

.container-form h2 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    padding: 8px;
    background-color: var(--maisForte--);
    display: block;
    max-width: 300px;
    margin: 0 auto 0 auto;
}

input {
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    padding: 5px;
    width: 235px;
}

label {
    padding: 5px;
    color: white;
    font-weight: bolder;
    display: block;
}

textarea {
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    color: black;
}

button {
    color: white;
    padding: 8px 16px;
    background-color: #052a41;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    font-size: 0.8em;
}

footer {
    text-align: center;
    padding: 1px;
    font-size: 1.1em;
    color: white;
    background-color: var(--maisForte--);
}

/* .label-1 {
    margin-right: 116px;
}

.label-2 {
    margin-right: 85px;
} */

button {
    display: block;
    margin: 0 auto;
}

#email {
    color: black;
}

#message {
    color: black;
}

@media (max-width: 616px) {
    .marcas div {
        width: 250px;
        margin: 0 auto;
    }
    
    .marcas img {
        width: 230px;
        flex: 1 1 230px;
    }

    .manutencao-limpeza {
        flex-direction: column;
    }

}

@media (max-width: 556px) {
    .servicos img {
        max-width: 310px;
    }
    
    .flex {
        margin: 20px auto;
        padding: 10px;
        width: 320px;
    }
}

@media (max-width: 390px) {
    .servicos img {
        max-width: 280px;
    }
    
    .flex {
        margin: 20px auto;
        padding: 10px;
        width: 290px;
    }
}